[submodule "reinforcement_learning/backend/extern/xtl"]
	path = reinforcement_learning/backend/extern/xtl
	url = git@github.com:xtensor-stack/xtl.git
[submodule "reinforcement_learning/backend/extern/xsimd"]
	path = reinforcement_learning/backend/extern/xsimd
	url = git@github.com:xtensor-stack/xsimd.git
[submodule "reinforcement_learning/backend/extern/xtensor"]
	path = reinforcement_learning/backend/extern/xtensor
	url = git@github.com:xtensor-stack/xtensor.git
[submodule "reinforcement_learning/backend/extern/googletest"]
	path = reinforcement_learning/backend/extern/googletest
	url = git@github.com:google/googletest.git
[submodule "reinforcement_learning/backend/extern/pybind11"]
	path = reinforcement_learning/backend/extern/pybind11
	url = git@github.com:pybind/pybind11.git
